@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Light';
    src: url('Lato/Lato-Light.ttf') format('truetype');
}