#main-content {
    height: 100%;
    width: 1280px;
    position: fixed;
    
    right: 0;
    left: 0;
    margin: 0 auto 0 auto;
    
    background-color: rgb(8, 8, 8);
}

.main-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    
    margin-bottom: 12px;
}

.hr-main {
    border: 1px solid black;
    margin: 4px 0 0 0;
}

.light-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    margin: 0 0 4px 4px;
}

.main-container {
    display: flex;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-input {
    width: 100%;
}

.main-flex-item {
    padding: 16px;
}

@media screen and (max-width: 576px) {
    .main-container {
        flex-direction: column;
    }
}

.main-flex-item:first-of-type {
    flex: 0 0 33%;
}

.main-flex-item:last-of-type {
    flex: 1 0 auto;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.media-main-text {
    width: 100%;
}

.media-flex-item {
    flex: 1 1 288px;
    background-color: rgb(8, 8, 8);
    
    max-width: 288px;
    height: 96px;

    box-sizing: border-box;
    padding: 4px;

    border-radius: 2px;
    cursor: pointer;
    
    text-decoration: none;
}

.media-element {
    display: flex;
}

.media-element-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    margin-left: 8px;
}

.media-img-item {
    width: 150px;
    height: 88px;
}

.media-no-img-item {
    width: 150px;
    height: 88px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}