.content-flex {
    display: flex;
    height: calc(100vh - 64px);

    justify-content: center;
}

.content-container {
    height: calc(100% - 16px);

    display: flex;
    flex-direction: column;

    background: rgb(4, 8, 8);
    border-radius: 8px;

    padding: 8px;
    margin: 8px;

    outline: rgb(32, 32, 32) solid 2px;
}

.content {
    height: calc(100vh - (56px * 2) - 8px);
    width: auto;
    max-width: 100%;
}

.no-content-available {
    display: flex;

    width: 400px;
    height: 400px;

    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Lato Light', sans-serif;
    font-size: 24px;
    color: white;
}

.content-text {
    display: flex;
    width: 100%;

    padding: 2px 2px 0 2px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Lato Light', sans-serif;
    font-size: 16px;
    color: white;
}

.content-text-info {
    display: inline-block;
    margin-top: auto;
}

.content-text > form {
    display: inline-block;
}

.content-form {
    display: flex;
    flex-direction: row;
    margin: auto 0 0 auto;
    gap: 4px;
}

.content-form-item {
    width: 72px;
}

.content-button {
    margin-top: auto;
    width: 100%;
    padding: 4px;

    color: white;

    text-align: center;

    display: inline-block;
    border: none;
    border-radius: 4px;

    box-sizing: border-box;

    cursor: pointer;
}

.content-download-button {
    background-color: rgb(8, 140, 40);
}

.content-download-button:active {
    background-color: rgb(11, 125, 30);
    color: rgb(240, 240, 240);
    opacity: 0.9;
}

.content-delete-button {
    background-color: rgb(185, 43, 61);
}

.content-delete-button:active {
    background-color: rgb(153, 36, 48);
    color: rgb(240, 240, 240);
    opacity: 0.9;
}

.content-failed {
    margin: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
}

.content-failed > div {
    font-family: 'Lato Light', sans-serif;
    font-size: 16px;
}