@using Open_MediaServer.Utils
@namespace Open_MediaServer.Frontend.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string accountText = "LOGIN";
    string accountUrl = "/login";
    if (Context.Request.Cookies["user_session"] != null && UserUtils.IsAuthed(Context.Request.Cookies["user_session"]))
    {
        var user = await UserUtils.GetUser(Context.Request.Cookies["user_session"]);

        accountText = user.Username.ToUpper();
        accountUrl = "/account";
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="~/"/>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Global/layout.css">
    <link rel="stylesheet" href="~/Frontend/Assets/font/Font.css">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @{
        if (Program.ConfigManager.Config.FrontendName != String.Empty)
        {
            <meta property="og:site_name" content="@Program.ConfigManager.Config.FrontendName"/>
        }
    }
    @await RenderSectionAsync("AdditionalHead", false)
    @await RenderSectionAsync("AdditionalMeta", false)
</head>

<body style="margin: 0; padding: 0" class="background">
<div class="navbar">
    <ul class="navbar-item navbar-item-left">
        <li>
            <a href="/">
                HOME
            </a>
        </li>
        <li>
            <a href="/content">
                CONTENT
            </a>
        </li>
        @{
            if (Context.Request.Cookies["user_session"] != null && UserUtils.IsAuthed(Context.Request.Cookies["user_session"]))
            {
                <li>
                    <a href="/upload">
                        UPLOAD
                    </a>
                </li>
            }
        }
    </ul>

    <ul class="navbar-item">
        <li>
            <a href="@accountUrl">
                @accountText
            </a>
        </li>
    </ul>
</div>

@RenderBody()

</body>

</html>