@page
@using Open_MediaServer
@using Open_MediaServer.Utils
@model Open_MediaServer.Frontend.Pages.Account

@{
    Layout = "_Layout.cshtml";

    if (Request.Cookies["user_session"] == null || !UserUtils.IsAuthed(Request.Cookies["user_session"]))
    {
        Response.Redirect("/Login?returnUrl=Account");
        return;
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>@Program.ConfigManager.Config.FrontendName Media - Account</title>
</head>
<body>
<div>
    
</div>
</body>
</html>