@page "/Account/{username}"
@model Open_MediaServer.Frontend.Pages.AccountUser

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>User @RouteData.Values["username"]</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Account/User/User.css">
    <link rel="stylesheet" href="~/Frontend/Assets/font/Font.css">
</head>
<body>

</body>
</html>