@page
@using Open_MediaServer
@using Open_MediaServer.Database.Schema
@using Open_MediaServer.Utils
@model Open_MediaServer.Frontend.Pages.Index

@{
    Layout = "_Layout.cshtml";

    var mediaTableQuery = Program.Database.MediaDatabase.Table<DatabaseSchema.Media>();
    var userTableQuery = Program.Database.UserDatabase.Table<DatabaseSchema.User>();
    int uploadCount = await mediaTableQuery.CountAsync();
    int userCount = await userTableQuery.CountAsync();
    int totalContentSize = (await mediaTableQuery.ToListAsync()).Sum(media => media.ContentSize);
    string contentSize = StringUtils.FormatBytesWithIdentifier(totalContentSize);
}

@section AdditionalHead
{
    <title>@Program.ConfigManager.Config.FrontendName Media - Home</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Index/Index.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div class="fade-div">
    <div style="animation: fade-in-move-down 2s;" class="fade-text loading-text">
        SERVING @uploadCount UPLOAD@{
                                       if (uploadCount > 1 || uploadCount <= 0)
                                       {
                                           <text>S</text>
                                       }
                                   }
    </div>
    <div style="animation: fade-in-move-down 1.5s;" class="fade-text loading-text">
        HANDLING @userCount USER@{
                                    if (userCount > 1 || userCount <= 0)
                                    {
                                        <text>S</text>
                                    }
                                }
    </div>
    <div style="animation: fade-in-move-down 1s;" class="fade-text loading-text">
        STORING @{
                    if (totalContentSize <= 0)
                    {
                        <text>NOTHING</text>
                    }
                    else
                    {
                        <text>@contentSize</text>;
                    }
                }
    </div>
</div>
</body>
</html>