@page
@using Open_MediaServer
@using Open_MediaServer.Backend.Schema
@using Open_MediaServer.Database.Schema
@using Open_MediaServer.Utils
@model Open_MediaServer.Frontend.Pages.Index

@{
    Layout = "_Layout.cshtml";

    var mediaTableQuery = Program.Database.MediaDatabase.Table<DatabaseSchema.Media>();
    int uploadCount = await mediaTableQuery.CountAsync();
    int totalContentSize = mediaTableQuery.ToListAsync().Result.Sum(media => media.ContentSize);
    string contentSize = StringUtils.FormatBytesWithIdentifier(totalContentSize);
}

<!DOCTYPE html>

<html>
<head>
    <title>@Program.ConfigManager.Config.FrontendName Media - Home</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Index/Index.css">
</head>

<body>
<div class="fade-div">
    <div style="animation: fade-in-move-down 2s;" class="fade-text loading-text">
        SERVING @uploadCount UPLOADS
    </div>
    <div style="animation: fade-in-move-down 1.5s;" class="fade-text loading-text">
        STORING @contentSize
    </div>
</div>
</body>
</html>