@page
@model Open_MediaServer.Frontend.Pages.Index

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Media - Home</title>
</head>

<body>
<div>
    A
</div>
</body>
</html>