@page
@using Open_MediaServer
@using Open_MediaServer.Utils
@model Open_MediaServer.Frontend.Pages.Login

@{
    Layout = "_Layout.cshtml";

    if (Request.Cookies["user_session"] != null && UserUtils.IsAuthed(Request.Cookies["user_session"]))
    {
        Response.Redirect("/Account");
        return;
    }
}

@section AdditionalHead
{
    <title>@Program.ConfigManager.Config.FrontendName Media - Login</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Login/Login.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div class="login-flex">
    <div class="login-form-text">
        Login
    </div>
    @using (Html.BeginForm("GetLogin", "UserApi", FormMethod.Get, new {@class = "login-form", @autocomplete = "off"}))
    {
        @Html.TextBox("Username", null, new {@placeholder = "Username", @required = "required"})
        @Html.TextBox("Password", null, new {@placeholder = "Password", @required = "required", @type = "password"})
        if (Program.ConfigManager.Config.AllowRegistering)
        {
            <label class="login-register-text">Don't have an account? <a class="register-href" href="/Register">Register</a></label>
        }
        @Html.TextBox("returnURL", "/Account", new {@type = "hidden"})
        <button type="submit">Login</button>
    }
</div>
</body>
</html>