@page
@using Open_MediaServer
@model Open_MediaServer.Frontend.Pages.Media

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@Program.ConfigManager.Config.FrontendName Media - Content</title>
</head>
<body>
<div>
    
</div>
</body>
</html>