@page
@using Open_MediaServer
@using Open_MediaServer.Utils
@model Open_MediaServer.Frontend.Pages.Register

@{
    Layout = "_Layout.cshtml";

    if (Request.Cookies["user_session"] != null && UserUtils.IsAuthed(Request.Cookies["user_session"]))
    {
        Response.Redirect("/Account");
        return;
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>@Program.ConfigManager.Config.FrontendName Media - Register</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Register/Register.css">
    <link rel="stylesheet" href="~/Frontend/Assets/font/Font.css">
</head>
<body>  
<div class="register-flex">
    <div class="register-form-text">
        Register
    </div>
    @using (Html.BeginForm("GetRegister", "UserApi", FormMethod.Get, new {@class = "register-form", @autocomplete = "off"}))
    {
        @Html.TextBox("Username", null, new {@placeholder = "Username", @required = "required"})
        @Html.TextBox("Password", null, new {@placeholder = "Password", @required = "required", @type = "password"})
        <label class="login-register-text">Already have an account? <a class="login-href" href="/Login">Login</a></label>
        @Html.TextBox("returnURL", "/Account", new {@type = "hidden"})
        <button type="submit">Register</button>
    }
</div>
</body>
</html>