@page "/{id}/{name}"
@model Open_MediaServer.Frontend.Pages.SingleContent

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@RouteData.Values["id"] @RouteData.Values["name"]</title>
</head>
<body>
</body>
</html>