@page "/{id}/{name}"
@model Open_MediaServer.Frontend.Pages.SingleContent

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@RouteData.Values["id"] @RouteData.Values["name"]</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/SingleContent/SingleContent.css">
    <link rel="stylesheet" href="~/Frontend/Assets/font/Font.css">
</head>
<body>
<video height="100%" width="100%" controls="">
    <source src="" type="mp4"/>
</video>
</body>
</html>