@page "/{id}/{name}"
@using Open_MediaServer
@model Open_MediaServer.Frontend.Pages.SingleContent

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@RouteData.Values["id"] @RouteData.Values["name"]</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/SingleContent/SingleContent.css">
    <link rel="stylesheet" href="~/Frontend/Assets/font/Font.css">
</head>
<body>

<div class="video-container">
    <video height="100%" width="100%" controls="" onloadstart="this.volume=0.01">
        <source src="@Url.Action("GetMedia", "MediaApi", new {Id = RouteData.Values["id"], Name = RouteData.Values["name"]}, Request.Scheme, Request.Host.ToUriComponent() + ":" + (Request.Scheme.Equals("https", StringComparison.OrdinalIgnoreCase) ? Program.ConfigManager.Config.BackendPorts.https : Program.ConfigManager.Config.BackendPorts.http))" type="video/mp4"/>
    </video>
</div>
</body>
</html>