.register-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 32px;
}

.register-form-text {
    margin-top: 64px;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-register-text {
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-href {
    color: rgb(120, 112, 236);
}

.register-form {
    max-width: 450px;

    background: rgb(32, 24, 24);

    position: relative;
    border-radius: 8px;
    padding: 32px;
    text-align: center;
}

.register-form input {
    width: 100%;

    margin: 0 0 16px 0;

    background: rgb(240, 240, 240);

    outline: 0;
    border: 0;

    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.register-form input:focus {
    background: rgb(220, 220, 220);
}

.register-form button {
    width: 100%;

    margin-top: 48px;

    background: rgb(75, 183, 93);
    color: white;

    text-transform: uppercase;

    outline: 0;
    border: 0;

    border-radius: 4px;
    padding: 12px;

    -webkit-transition: all 1.3s ease;
    transition: all 1.3s ease;
    cursor: pointer;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.register-form button:active {
    background: rgb(57, 85, 145);
}