@page "/404"
@using Open_MediaServer
@model Open_MediaServer.Frontend.Pages.Codes.Error

@{
    Layout = "../_Layout.cshtml";
}

@section AdditionalHead
{
    <title>@Program.ConfigManager.Config.FrontendName Media - 404</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Codes/Generic.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div class="content-failed">
    Failed to find the page you were looking for!<br/>
    <div>
        Please try navigating to different url<br/>
        Internal 404 error occured..<br/>
    </div>
</div>
</body>
</html>