@page "/401"
@using Open_MediaServer
@model Open_MediaServer.Frontend.Pages.Codes.Unauthorized

@{
    Layout = "../_Layout.cshtml";
}

@section AdditionalHead
{
    <title>@Program.ConfigManager.Config.FrontendName Media - 403</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Codes/Generic.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div class="content-failed">
    You don't have authorization to access this page!<br/>
    <div>
        Internal 401 error occured..<br/>
    </div>
</div>
</body>
</html>