.sort-navbar {
    margin: 8px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 8px;
}

.sort-item {
    display: flex;
    justify-content: center;

    min-width: 96px;
    height: 24px;

    outline: rgb(64, 48, 48) solid 1px;
    border-radius: 4px;

    background-color: rgb(32, 24, 24);

    font-family: 'Lato Light', sans-serif;
    color: white;

    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-item-selected {
    background-color: rgb(128, 96, 96);
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    
    margin: 8px;
}

.content-item {
    flex: 1 1 288px;
    background-color: rgb(24, 24, 24);

    outline: rgb(32, 32, 32) solid 2px;

    max-width: 288px;
    max-height: 288px;

    box-sizing: border-box;
    padding: 8px;

    border-radius: 8px;
    cursor: pointer;

    text-decoration: none;
}

.content-item-text {
    display: flex;
    flex: 0 0 45%;
    text-align: center;

    flex-direction: column;

    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    margin: 8px 8px 8px 0;
    justify-content: space-between;
    
    overflow-wrap: anywhere;
}

.content-item-text > div {
    text-align: center;
}

.content-item-thumbnail {
    flex: 0 0 50%;
    width: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.content-item-no-thumbnail {
    flex: 0 0 50%;
    width: 50%;
    min-height: 140px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

.content-href {
    display: flex;
    height: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-decoration: none;

    flex-direction: row;
    gap: 8px;
}

.main-text {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;

    margin: 8px 0 8px 0;
}